@{
    ViewData["Title"] = "Zamów";
}

<h1>Formularz zamówienia</h1>

<form asp-action="Zamow" method="post">
    <h2>Wybierz produkty:</h2>
    @foreach (var produkt in ViewBag.Produkty)
    {
        <div class="form-check">
            <input type="checkbox" name="wybraneProdukty" value="@produkt.Id" class="form-check-input" />
            <label class="form-check-label">@produkt.Nazwa (@produkt.Cena zł)</label>
        </div>
    }

    <button type="submit" class="btn btn-primary">Złóż zamówienie</button>
</form>

@if (!ViewData.ModelState.IsValid)
{
    <div class="alert alert-danger">
        <p>@Html.ValidationSummary()</p>
    </div>
}